.App {
  text-align: center;
}
.header_cont{
  background-color: rgb(126, 223, 230);
}

.main_content{
  background-color: rgb(242, 242, 247);


}

.card_content{
  box-shadow: 0 10px 10px rgba(126, 223, 230, 0.5);
}

.list_item{

  background-color: rgb(242, 242, 247);
  box-shadow: 0 10px 10px rgba(126, 223, 230, 0.5);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 6;
  margin-bottom: 10px;

  
}